.header{
    height: 100px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
}
h2{
    color: rgba(189, 189, 189, 0.959);
    font-size: 20px;
    letter-spacing: 2px;
    position: absolute;
    top: 25px;
    left: 10px;
    width: 100%;
}

ul{
    position: relative;
    display: flex;
    left: 75%;
    top: 50px;
}
ul li{
    list-style: none;
}

ul li a{
    display: inline-block;
    color: rgba(189, 189, 189, 0.959);
    font-size: 20px;
    margin-right: 70px;
    text-decoration: none;
}
